

@{
    ViewBag.Title = "Person";
}



<div id="person-section" >
    <h2>He</h2>

    @using (Ajax.BeginForm("He", new AjaxOptions()
    {
        UpdateTargetId = "person-section",
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "onSuccess"
    }))
    {
        @Html.AntiForgeryToken()

        @Html.Partial("_Person")

    }
</div>


